# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/
/dist

# Production
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Optional: if you use Firebase
.firebase/
.firebaserc

# Optional: if you use Docker
docker-compose.override.yml

# Optional: if you use Mac/Linux
*.log
